body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    max-width: 80vw;
    padding-left: 10vw;
}

button {
    cursor: pointer !important;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: aliceblue;
    border-radius: 10px;
    padding: 1vw;
    margin: 2vh 10vw 0 10vw;
}

.login-container {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: rebeccapurple;
}

.header-login {
    display: flex;
    min-width: 20vw;
    justify-content: space-between;
    align-items: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    background: aliceblue;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input, label {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    padding-left: 10px;
    height: 25px;

}

form button {
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    color: white;
    background: black;
}


footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-admin-container {
    display: flex;
    min-height: 60vh;
    justify-content: space-between;
    align-items: center;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    max-width: 50vw;
    min-width: 50vw;
    margin-top: 20px;
    max-height: 70vh;
    overflow: auto;
}

.form-selector {
    margin-top: 20px;
    display: flex;
    max-width: 30vw;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 30vw;
}

.form-selector select {
    font-size: 20px;
    min-width: 10vw;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
}

.form-container {
    text-align: start;
    max-width: 30vw;
    margin-top: 10px;
}

.form-container a {
    background: black;
    color: white;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.form-container textarea {
    height: 150px;
    width: 500px;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-container select {
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

.form-container input::file-selector-button {
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: black;
}

.admin-products {
    border-spacing: 3px;
    font-size: 20px;
}

.admin-products tr {
    background: aliceblue;
    text-align: center;
}

.item-list {
    padding: 20px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.product-container {
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: aliceblue;
    max-height: 400px;
    max-width: 260px;
    min-width: 200px;
}

.product-container button {
    border-radius: 10px;
    background: black;
    color: white;
    padding: 6px;
    margin-bottom: 5px;
    cursor: pointer;
}

.product-container button:hover {
    background: #555555;
}

.container {
    min-height:80vh;
    text-align: center;
}

.filter-form {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.filter {
    height: 31px;
    flex-direction: row;
}

.filter select {
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.filter button {
    padding: 5px;
    vertical-align: center;
}

.request-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.request-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.request-update a {
    background: black;
    color: white;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
}

.request-update select{
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error-code {
    font-size: 100px;
    color: #333;
}

.error-message {
    font-size: 24px;
    color: #555;
    margin-top: 10px;
}

.home-link {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.header-login a, h3 {
    padding-left: 10px;
    border-radius: 10px;
}

.product-detail-container {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    flex-direction: row;

}

.photo-wrapper {
    padding: 20px;
    background: aliceblue;
    border: black solid 2px;
}

.info-details {
    background: aliceblue;
    padding: 32px;
    margin-right: 100px;
    max-width: 20vw;
}

.detail-price {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-price button {
    background: black;
    color: white;
    border-radius: 10px;
    padding: 7px;
}

.detail-price button:hover {
    background: #555555;
    cursor: pointer;
}

.article {
    color: #555555;
    display: flex;
    justify-content: flex-end;
}

.detail-container {
    padding: 5px 0 0 0;
}

.bi-arrow-left-square-fill {
    margin-bottom: 30px;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    color: black;
}

.bi-arrow-left-square-fill:hover {
    color: #555555;
}

.page-selector {
    display: flex;
}

.page-selector a {
    padding: 10px;
    color: white;
    background: black;
    border: rebeccapurple solid 2px;
}

.inactive {
    background: #555555 !important;
    pointer-events: none;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}