body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    max-width: 80vw;
    padding-left: 10vw;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: aliceblue;
    border-radius: 10px;
    padding: 1vw;
    margin: 2vh 10vw 0 10vw;
}

.login-container {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: rebeccapurple;
}

.header-login {
    display: flex;
    min-width: 20vw;
    justify-content: space-between;
    align-items: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    background: aliceblue;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input, label {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    padding-left: 10px;
    height: 25px;

}

form button {
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    color: white;
    background: black;
}


footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-admin-container {
    display: flex;
    min-height: 60vh;
    justify-content: space-between;
    align-items: center;
}

.item-list {
    padding: 20px 10vw 10vw 0;
    display: flex;
}

.product-container {
    padding: 10px;
    border-radius: 10px;
    background: aliceblue;
    max-height: 250px;
    max-width: 150px;
}

.container {
    text-align: center;
}

.error-code {
    font-size: 100px;
    color: #333;
}

.error-message {
    font-size: 24px;
    color: #555;
    margin-top: 10px;
}

.home-link {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.header-login a, h3 {
    padding-left: 10px;
    border-radius: 10px;
}

.product-detail-container {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    flex-direction: row;

}

.photo-wrapper {
    padding: 20px;
    color: aliceblue;
    border: black solid 2px;
}

.info-details {
    padding-right: 100px;
}

.detail-price {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-price button {
    background: black;
    color: white;
    border-radius: 10px;
    padding: 7px;
}

.article {
    color: #555555;
    display: flex;
    justify-content: flex-end;
}

.detail-container {
    padding: 5px 10vw 0 10vw;
}

.bi-arrow-left-square-fill {
    margin-bottom: 30px;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    color: black;
}